.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('D:\React\Event_App\Event__App\frontend\src\util\images\background.jpg');   background-size: cover; /* Adjusts the size of the background image to cover the entire container */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content h1 {
  margin-bottom: 20px; 
}

